.shp {
    &__container {
        background-color: white;
        align-self: flex-start;
        margin: 9vw 0 2vw 0;
        width: 98vw;
        height: 100%;
        border-radius: 0 15vw 15vw 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__img {
            border: #abacab solid;
            border-radius: 2vh;
            margin: 1vw;
            display: block;
            width: 16vw;
            height: 20vw;
            position: relative;
        }
    }
    &__search {
        width: 30vh;
        margin: 10vh 0 5vh 0;
        border-radius: 1vh;
        border: #abacab solid;
        font-size: 20px;
        text-align: center;
        padding: 0.5rem;
    }
    &__button {
        color: white;
        font-size: 20px;
        border-radius: 1vh;
        padding: 5px;
        background-color: #abacab;
        border: none;
        margin: 0 2vh 5vh 2vh;
    }
    &__img {
        width: 100%;
        position: relative;
        height: 100%;
    }
}
.shp__containter__images {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.overlay {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #abacab;
    width: 100%;
    height: 100%;
    border-radius: 1vh;
    opacity: 0;

    &__p {
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
}
.overlay:hover {
    opacity: 1;
}
