.detail {
    &__container {
        background-color: white;
        align-self: flex-start;
        margin: 9vw 0 2vw 0;
        width: 98vw;
        height: 100%;
        border-radius: 0 20vh 20vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.collection {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 5vw 0 5vw 0;
        &__img {
            border: 2px solid #abacab;
            border-radius: 5vw;
            margin-right: 5vw;
            height: 40vw;
            width: 40vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__img {
        height: 35vw;
        width: 35vw;
        border-radius: 5vw;
    }
    &__text {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 30vw;
            width: 30vw;
        }
        &__name {
            font-size: 3.5vw;
            font-weight: normal;
            margin-bottom: 3vw;
            text-align: center;
        }
        &__p {
            margin: 0.4vw;
            font-size: 2.5vw;
        }
        &__icon {
            color: #abacab;
            font-size: 2vw;
            margin: 2vw 0;
        }
        &__icon:hover {
            color: #ffacff;
            cursor: pointer;
        }
        &__button {
            font-family: aldrich, sans-serif;
            color: #abacab;
            font-size: 1.6vw;
            border-radius: 50vw;
            margin: 1vw 0 1vw 0;
            background-color: white;
            border: 2px solid #abacab;
            padding: 0.5vw 1vw;
            cursor: pointer;
        }
        &__button:hover {
            font-family: aldrich, sans-serif;
            color: white;
            font-size: 1.6vw;
            border-radius: 50vw;
            margin: 1vw 0 1vw 0;
            background-color: #abacab;
            border: 2px solid #abacab;
            padding: 0.5vw 1vw;
            cursor: pointer;
        }
    }
}
.detail__br {
    height: 1px;
    width: 93%;
    background-color: #abacab;
}
.detail {
    &__items {
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;

            &__items {
                width: 95%;
                display: flex;
                flex-direction: row;
                overflow: scroll;
            }
            &__img {
                border-radius: 5vw;
                border: 1px solid #abacab;
                margin: 0 2vw 4vw;
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20vw;
                height: 20vw;
            }
        }
        &__img {
            width: 13vw;
        }
        &__p {
            font-size: 3vw;
            font-weight: normal;
            margin: 4vw 0 2vw 02vw;
        }
    }
}
.overlay__details {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #abacab;
    width: 100%;
    height: 100%;
    border-radius: 5vw;
    opacity: 0;

    &__p {
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
}
.overlay__details:hover {
    opacity: 1;
}
.detail__items__container__img {
    width: 20vw;
    height: 20vw;
}
