.footer {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 8vw 0 8vw 0;
    height: 18vw;
    &__outer {
        background-color: #abacab;
        height: 25vw;
        display: flex;
        align-items: center;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__adress {
        font-size: 1vw;
        color: #abacab;
    }
}
.title {
    font-size: 2vw;
    margin-top: 2.6vw;
}
.logo {
    display: flex;
}
.br {
    height: 1vw;
}
.icons {
    display: flex;
}
