.create__container {
    width: 100%;
    height: 100%;
    background-color: #abacab;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.canvas__container {
    margin-top: 9vw;
}
