.canvas {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #abacab;
}
.stage {
    background-color: white;
    position: static;
}

.stickers {
    display: flex;
    flex-direction: column;
    margin: 0 5vw 0 10vw;
    background-color: white;
    height: 40vw;
    width: 30vw;
    overflow: scroll;
}
