.feedc {
    &__container {
        margin: 9vw auto 0 0;
        background-color: white;
        width: 98vw;
        height: 100vw;
        border-radius: 0 15vw 15vw 0;
        &__images {
            width: 98vw;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: center;
            margin: 5vw 0 0 0;
        }
        &__img {
            width: 25vw;
            height: 25vw;
            border: 1px solid black;
            margin: 2vw;
            border-radius: 6vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__button {
        font-family: aldrich;
        background-color: transparent;
        font-size: 3vw;
        border: none;
        margin: 4vw 0 0 4vw;
        padding: 1vw 2vw;
    }
    &__button:hover {
        background-color: #abacab;
        color: white;
        padding: 1vw 2vw;
        border-radius: 20vw 20vw;
    }
}
